<p id="notice"><%= notice %></p>

<h1>Uni Profiles</h1>

<table>
  <thead>
    <tr>
      <th>Uni logo</th>
      <th>Uni description</th>
      <th>Uni galaries</th>
      <th>Uni log rank</th>
      <th>Uni founded date</th>
      <th>Uni url</th>
      <th>Uni email</th>
      <th>Uni phone1</th>
      <th>Uni phone2</th>
      <th>Uni fax</th>
      <th>Uni address</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @uni_profiles.each do |uni_profile| %>
      <tr>
        <td><%= uni_profile.uni_logo %></td>
        <td><%= uni_profile.uni_description %></td>
        <td><%= uni_profile.uni_galaries %></td>
        <td><%= uni_profile.uni_log_rank %></td>
        <td><%= uni_profile.uni_founded_date %></td>
        <td><%= uni_profile.uni_url %></td>
        <td><%= uni_profile.uni_email %></td>
        <td><%= uni_profile.uni_phone1 %></td>
        <td><%= uni_profile.uni_phone2 %></td>
        <td><%= uni_profile.uni_fax %></td>
        <td><%= uni_profile.uni_address %></td>
        <td><%= link_to 'Show', uni_profile %></td>
        <td><%= link_to 'Edit', edit_uni_profile_path(uni_profile) %></td>
        <td><%= link_to 'Destroy', uni_profile, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Uni Profile', new_uni_profile_path %>
