<script type="text/javascript">
  document.addEventListener("turbolinks:load", function() {
  if($('[id^=DataTables_Table]').length == 0) {
    $('.blogTable').DataTable({
      "pagingType": "full_numbers"
    });
  }
});
</script>
<!-- <p id="notice"><%#= notice %></p> -->
<%= render '/shared/blogger_nav' %>
<legend>Listing all Blogs</legend>
<div class="row">
  <div class="col-lg-12">
    <div class="well bs-component">
      <%= link_to 'Add blog', new_blog_path, class: 'btn btn-primary custom' %>
        <table class="table table-striped table-bordered dt-responsive nowrap blogTable">
          <thead>
            <tr>
              <th>Title</th>
              <th>Subtitle</th>
              <th>Tags</th>
              <th>Share</th>
              <th>Actions</th>
            </tr>
          </thead>

          <tbody>
            <% @blogs.each do |blog| %>
              <tr>
                <td><%= blog.title %></td>
                <td><%= blog.subtitle %></td>
                <td><%= blog.tags %></td>
                <td><%= blog.share %></td>
                <td><%= link_to 'Show', blog %>
                    <%= link_to 'Edit', edit_blog_path(blog) %>
                    <%= link_to 'Destroy', blog, data: { behavior: 'delete' } %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>