<div class="well">
  	<p><%= @comment.body %> &mdash;<span class="text-muted"><%= @comment.root? ? "" : "Replied by" %><strong style="color:#0d87e9;font-weight:400;"><%= @comment.commenter %></strong> on<%= l(@comment.created_at, format: '%B, %d %Y %H:%M:%S') %></span></p>

	<% from_reply_form ||= nil %>
	<% unless from_reply_form %>
	  <% if @comment.leaf? %>
	    <small class="text-muted">There are no replies yet - be the first one to reply!</small>
	  <% end %>
	  <p><%= link_to 'reply', new_comment_path(@comment.id), id: "replyToComment_#{@comment.id}", remote: true %></p>
	<% end %>
	<div id="poppa_<%= @comment.id%>"></div>
</div>