<%= form_for @comment, remote:true do |f| %>
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
        <% @comment.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :parent_id %>
  <%= f.hidden_field :commenter, value: current_user.first_name %>

  <div class="form-group">
    <label>add a comment</label>
    <%= f.text_area :body, class: 'form-control', required: true %>
  </div>

  <%= f.submit 'comment', class: 'btn btn-primary' %>
<% end %>