<p id="notice"><%= notice %></p>

<p>
  <strong>Uni logo:</strong>
  <%= @uni_profile.uni_logo %>
</p>

<p>
  <strong>Uni description:</strong>
  <%= @uni_profile.uni_description %>
</p>

<p>
  <strong>Uni galaries:</strong>
  <%= @uni_profile.uni_galaries %>
</p>

<p>
  <strong>Uni log rank:</strong>
  <%= @uni_profile.uni_log_rank %>
</p>

<p>
  <strong>Uni founded date:</strong>
  <%= @uni_profile.uni_founded_date %>
</p>

<p>
  <strong>Uni url:</strong>
  <%= @uni_profile.uni_url %>
</p>

<p>
  <strong>Uni email:</strong>
  <%= @uni_profile.uni_email %>
</p>

<p>
  <strong>Uni phone1:</strong>
  <%= @uni_profile.uni_phone1 %>
</p>

<p>
  <strong>Uni phone2:</strong>
  <%= @uni_profile.uni_phone2 %>
</p>

<p>
  <strong>Uni fax:</strong>
  <%= @uni_profile.uni_fax %>
</p>

<p>
  <strong>Uni address:</strong>
  <%= @uni_profile.uni_address %>
</p>

<%= link_to 'Edit', edit_uni_profile_path(@uni_profile) %> |
<%= link_to 'Back', uni_profiles_path %>
