<p id="notice"><%= notice %></p>

<p>
  <strong>University logo:</strong>
  <%= @university_profile.uni_logo %>
</p>

<p>
  <strong>University description:</strong>
  <%= @university_profile.uni_description %>
</p>

<p>
  <strong>University galaries:</strong>
  <%= @university_profile.uni_galaries %>
</p>

<p>
  <strong>University local rank:</strong>
  <%= @university_profile.uni_loc_rank %>
</p>

<p>
  <strong>University founded date:</strong>
  <%= @university_profile.uni_founded_date %>
</p>

<p>
  <strong>University url:</strong>
  <%= @university_profile.uni_url %>
</p>

<p>
  <strong>University email:</strong>
  <%= @university_profile.uni_email %>
</p>

<p>
  <strong>University phone1:</strong>
  <%= @university_profile.uni_phone1 %>
</p>

<p>
  <strong>University phone2:</strong>
  <%= @university_profile.uni_phone2 %>
</p>

<p>
  <strong>University fax:</strong>
  <%= @university_profile.uni_fax %>
</p>

<p>
  <strong>University address:</strong>
  <%= @university_profile.uni_address %>
</p>

<%= link_to 'Edit', edit_university_profile_path(@university_profile) %> |
<%= link_to 'Back', university_profiles_path %>
