<script type="text/javascript">
  $(document).ready(function(){
    $('.select2').select2();
    $('.file-inputs').bootstrapFileInput();
    $('input[type=file]').bootstrapFileInput();
    $(".st_dashboard").click(function(){
      window.location.replace("<%=unm_dashboard_url%>")
    });
  });
</script>
<div class="row">
  <div class="col-lg-12">
    <div class="well bs-component">
      <%= form_for (@university_profile) do |form| %>
        <fieldset>
          <legend>Update University Profile
          <%= link_to 'Go to dashboard', unm_dashboard_path, style:'float: right;'%></legend>
          <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>"/>

            <div class="col-lg-6">

              <div class="form-group">
                <label for="university_uni_country" class="control-label">University name</label>
                  <%= form.select :university_name, options_from_collection_for_select(University.all, :id, :uni_name, selected: @university_profile.university.uni_name), {},  {class: "select2", style: 'width:100%;'} %>
              </div>

              <div class="form-group">
                <label for="uni_profile_uni_logo" class="control-label">Logo</label><br/>
                  <%= form.file_field :uni_logo, title: 'choose logo', id: 'uni_profile_uni_logo', class: "btn-sm btn-primary" %><br>
                  <%= image_tag @university_profile.uni_logo.url(:thumb) if @university_profile.uni_logo? %>
              </div>

              <div class="form-group">
                <label for="uni_profile_uni_cover_photo" class="control-label">Cover photo</label><br/>
                  <%= form.file_field :uni_cover_photo,title: 'choose cover photo', class: 'btn-sm btn-primary', id: 'uni_profile_uni_logo'%><br>
                   <%= image_tag @university_profile.uni_cover_photo.url(:thumb) if @university_profile.uni_cover_photo? %>
              </div>

              <div class="form-group">
                <label for="uni_profile_uni_galaries" class="control-label">Galleries</label><br/>
                  <%= form.file_field :uni_galaries, title: 'choose galery images', multiple: true, class: 'btn-sm btn-primary', id: 'uni_profile_uni_galaries' %><br>
                  <% @university_profile.uni_galaries.each do |file|%>
                <%= image_tag file.url(:thumb) %>
              <%end%>
              </div>

              <div class="form-group">
                <label for="uni_profile_uni_log_rank" class="control-label">Local Rank</label>
                  <%= form.text_field :uni_loc_rank, class: 'form-control', id: 'uni_profile_uni_log_rank', placeholder: 'Local Rank', autofocus: true %>
              </div>

              <div class="form-group">
                <label for="uni_profile_uni_log_rank" class="control-label">International Rank</label>
                  <%= form.text_field :uni_int_rank, class: 'form-control', id: 'uni_profile_uni_log_rank', placeholder: 'International Rank', autofocus: true %>
              </div>

              <div class="form-group">
                <label for="uni_profile_uni_founded_date" class="control-label">Founded Date</label>
                  <%= form.date_field :uni_founded_date, class: 'form-control', id: 'uni_profile_uni_founded_date', placeholder: 'Founded Date', autofocus: true %>
              </div>

            </div>

            <div class="col-lg-6">

              <div class="form-group">
                <label for="uni_profile_uni_url" class="control-label">Profile Url</label>
                  <%= form.text_field :uni_url, class: 'form-control', id: 'uni_profile_uni_url', placeholder: 'Profile Url', autofocus: true %>
              </div>

              <div class="form-group">
                <label for="uni_profile_uni_email" class="control-label">Email</label>
                  <%= form.text_field :uni_email, class: 'form-control', id: 'uni_profile_uni_email', placeholder: 'Email', autofocus: true %>
              </div>

              <div class="form-group">
                <label for="uni_profile_uni_phone1" class="control-label">Phone No.</label>
                  <%= form.text_field :uni_phone1, class: 'form-control', id: 'uni_profile_uni_phone1', placeholder: 'Phone No.', autofocus: true %>
              </div>

              <div class="form-group">
                <label for="uni_profile_uni_phone2" class="control-label">Phone No.</label>
                  <%= form.text_field :uni_phone2, class: 'form-control', id: 'uni_profile_uni_phone2', placeholder: 'Phone No.', autofocus: true %>
              </div>

              <div class="form-group">
                <label for="uni_profile_uni_fax" class="control-label">Fax No.</label>
                  <%= form.text_field :uni_fax, class: 'form-control', id: 'uni_profile_uni_fax', placeholder: 'Fax No.', autofocus: true %>
              </div>

              <div class="form-group">
                <label for="uni_profile_uni_address" class="control-label">Address</label>
                  <%= form.text_area :uni_address, class: 'form-control', id: 'uni_profile_uni_address', placeholder: 'Address', autofocus: true %>
              </div>

            </div>
          </fieldset>
          <fieldset>
          <div class="col-lg-12">
            <div class="form-group">
              <label for="university_profile_uni_description" class="control-label">Description</label>
                <%= form.cktext_area :uni_description, class: 'form-control', id: 'university_profile_uni_description', placeholder: 'Description', autofocus: true%>
            </div>
          

            <div class="form-group">
              <%= form.button "Update", class: "btn btn-primary", style: 'width:33%;float:left;', data: {disable_with: "<i class='fa fa-spinner fa-spin'></i>In progress...."} %>
              <li class="btn btn-warning st_dashboard" style='width:33%;float:right;'> Cancel</li>
            </div>
          </div>
        </fieldset>
      <% end %>
    </div>
  </div>
</div>