<script type="text/javascript">
  $(document).ready(function(){
    $('#formNew').hide()
    $(".myTable1").DataTable();
    $('.select2').select2();
    $('.file-inputs').bootstrapFileInput();
    $('input[type=file]').bootstrapFileInput();
    $('.newUniProfile').click(function(){
      $('.ProfileIndex').hide()
      $('#formNew').show(150);
    });
  });
</script>
<div class="row">
  <div class="col-lg-12">
    <div class="well bs-component">
    <div class="ProfileIndex">
      <table class="table table-striped table-bordered dt-responsive nowrap myTable">
      <button class="btn btn-primary custom newUniProfile">Create Profile</button>
        <thead>
          <tr>
            <th>University name</th>
            <th>Description</th>
            <th>Local rank</th>
            <th>Founded date</th>
            <th>Profile url</th>
            <th>Email</th>
            <th>Actions</th>
          </tr>
        </thead>

        <tbody>
          <% @university_profiles.each do |university_profile| %>
            <tr>
              <td><%= university_profile.university.try(:uni_name) %></td>
              <td><%= university_profile.uni_description.html_safe %></td>
              <td><%= university_profile.uni_loc_rank %></td>
              <td><%= university_profile.uni_founded_date %></td>
              <td><%= university_profile.uni_url %></td>
              <td><%= university_profile.uni_email %></td>
              <td><%= link_to 'Show', university_profile , remote:true%>
                  <%= link_to 'Edit', edit_university_profile_path(university_profile) %>
                  <%= link_to 'Destroy', university_profile, data: { behavior: 'delete' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    
    <div id="formNew">
      <%= form_for (@university_profile) do |form| %>
        <fieldset>
          <legend>Create University Profile</legend>
          <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>"/>

            <div class="col-lg-6">

              <div class="form-group">
                <label for="university_uni_country" class="control-label">Country</label>
                  <%= form.select :university_name, University.all.map { |u| [u.uni_name] }, { prompt: "Select University" }, { class: "select2", id: "select", :required => true, style: 'width:100%;' }%>
              </div>

              <div class="form-group">
                <label for="uni_profile_uni_logo" class="control-label">Logo</label><br/>
                  <%= form.file_field :uni_logo, title: 'choose logo', id: 'uni_profile_uni_logo', class: "btn-sm btn-primary" %>
              </div>

              <div class="form-group">
                <label for="uni_profile_uni_cover_photo" class="control-label">Cover photo</label><br/>
                  <%= form.file_field :uni_cover_photo,title: 'choose cover photo', class: 'btn-sm btn-primary', id: 'uni_profile_uni_logo'%>
              </div>

              <div class="form-group">
                <label for="uni_profile_uni_galaries" class="control-label">Galleries</label><br/>
                  <%= form.file_field :uni_galaries, title: 'choose galery images', multiple: true, class: 'btn-sm btn-primary', id: 'uni_profile_uni_galaries' %>
              </div>

              <div class="form-group">
                <label for="uni_profile_uni_log_rank" class="control-label">Local Rank</label>
                  <%= form.text_field :uni_loc_rank, class: 'form-control', id: 'uni_profile_uni_log_rank', placeholder: 'Local Rank', autofocus: true %>
              </div>

              <div class="form-group">
                <label for="uni_profile_uni_log_rank" class="control-label">International Rank</label>
                  <%= form.text_field :uni_int_rank, class: 'form-control', id: 'uni_profile_uni_log_rank', placeholder: 'International Rank', autofocus: true %>
              </div>

              <div class="form-group">
                <label for="uni_profile_uni_founded_date" class="control-label">Founded Date</label>
                  <%= form.date_field :uni_founded_date, class: 'form-control', id: 'uni_profile_uni_founded_date', placeholder: 'Founded Date', autofocus: true %>
              </div>

            </div>

            <div class="col-lg-6">

              <div class="form-group">
                <label for="uni_profile_uni_url" class="control-label">Profile Url</label>
                  <%= form.text_field :uni_url, class: 'form-control', id: 'uni_profile_uni_url', placeholder: 'Profile Url', autofocus: true %>
              </div>

              <div class="form-group">
                <label for="uni_profile_uni_email" class="control-label">Email</label>
                  <%= form.text_field :uni_email, class: 'form-control', id: 'uni_profile_uni_email', placeholder: 'Email', autofocus: true %>
              </div>

              <div class="form-group">
                <label for="uni_profile_uni_phone1" class="control-label">Phone No.</label>
                  <%= form.text_field :uni_phone1, class: 'form-control', id: 'uni_profile_uni_phone1', placeholder: 'Phone No.', autofocus: true %>
              </div>

              <div class="form-group">
                <label for="uni_profile_uni_phone2" class="control-label">Phone No.</label>
                  <%= form.text_field :uni_phone2, class: 'form-control', id: 'uni_profile_uni_phone2', placeholder: 'Phone No.', autofocus: true %>
              </div>

              <div class="form-group">
                <label for="uni_profile_uni_fax" class="control-label">Fax No.</label>
                  <%= form.text_field :uni_fax, class: 'form-control', id: 'uni_profile_uni_fax', placeholder: 'Fax No.', autofocus: true %>
              </div>

              <div class="form-group">
                <label for="uni_profile_uni_address" class="control-label">Address</label>
                  <%= form.text_area :uni_address, class: 'form-control', id: 'uni_profile_uni_address', placeholder: 'Address', autofocus: true %>
              </div>

            </div>
          </fieldset>
          <fieldset>
          <div class="col-lg-12">
            <div class="form-group">
              <label for="university_profile_uni_description" class="control-label">Description</label>
                <%= form.cktext_area :uni_description, class: 'form-control', id: 'university_profile_uni_description', placeholder: 'Description', autofocus: true%>
            </div>
          

          <div class="form-group">
            <%= form.button "Create Profile", class: "btn btn-primary", style: 'width:33%;float:right;', data: {disable_with: "<i class='fa fa-spinner fa-spin'></i>In progress...."} %>
          </div>
          </div>
          </fieldset>
        <%end%>
      </div>

    </div>
  </div>
</div>