<script>
  $(document).ready(function(){
    $('#unm_dashboard').click(function(){
      window.location.replace('<%= unm_dashboard_url%>');
    });
  });
</script>
<div class="row">
  <div class="col-lg-12">
    <div class="well bs-component">
    <fieldset>
    <div class="col-lg-6">
      <p>Uni country:
        <%= @unm_un.uni_country %>
      </p>

      <p>Uni city:
        <%= @unm_un.uni_city %>
      </p>

      <p>Uni name:
        <%= @unm_un.uni_name %>
      </p>

      <p>Uni sector:
        <%= @unm_un.uni_sector %>
      </p>

      <p>Uni state ava fees:
        <%= @unm_un.uni_state_ava_fees %>
      </p>

      <p>Uni inst state ava fees:
        <%= @unm_un.uni_inst_state_ava_fees %>
      </p>

      <p>Uni private med ava fees:
        <%= @unm_un.uni_private_med_ava_fees %>
      </p>

      <p>Uni private den ava fees:
        <%= @unm_un.uni_private_den_ava_fees %>
      </p>

      <p>Uni private eng ava fees:
        <%= @unm_un.uni_private_eng_ava_fees %>
      </p>
      </div>

      <div class="col-lg-6">

      <p>Uni private lit ava fees:
        <%= @unm_un.uni_private_lit_ava_fees %>
      </p>

      <p>Uni inst private fees:
        <%= @unm_un.uni_inst_private_fees %>
      </p>

      <p>Uni faculties number:
        <%= @unm_un.uni_faculties_number %>
      </p>

      <p>Uni faculties name:
        <%= @unm_un.uni_faculties_name %>
      </p>

      <p>Uni faculties speciality:
        <%= @unm_un.uni_faculties_speciality %>
      </p>

      <p>Uni institution number:
        <%= @unm_un.uni_institution_number %>
      </p>

      <p>Uni institutions name:
        <%= @unm_un.uni_institutions_name %>
      </p>

      <p>Uni institution speciality:
        <%= @unm_un.uni_institution_speciality %>
      </p>

      <%= link_to 'Back', unm_uns_path, remote: true, id: 'unm_dashboard' %>
      </div>
      </fieldset>
    </div>
    </div>
  </div>