<p id="notice"><%= notice %></p>

<h1>Unm Uns</h1>

<table>
  <thead>
    <tr>
      <th>Uni country</th>
      <th>Uni city</th>
      <th>Uni name</th>
      <th>Uni sector</th>
      <th>Uni state ava fees</th>
      <th>Uni inst state ava fees</th>
      <th>Uni private med ava fees</th>
      <th>Uni private den ava fees</th>
      <th>Uni private eng ava fees</th>
      <th>Uni private lit ava fees</th>
      <th>Uni inst private fees</th>
      <th>Uni faculties number</th>
      <th>Uni faculties name</th>
      <th>Uni faculties speciality</th>
      <th>Uni institution number</th>
      <th>Uni institutions name</th>
      <th>Uni institution speciality</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @unm_uns.each do |unm_un| %>
      <tr>
        <td><%= unm_un.uni_country %></td>
        <td><%= unm_un.uni_city %></td>
        <td><%= unm_un.uni_name %></td>
        <td><%= unm_un.uni_sector %></td>
        <td><%= unm_un.uni_state_ava_fees %></td>
        <td><%= unm_un.uni_inst_state_ava_fees %></td>
        <td><%= unm_un.uni_private_med_ava_fees %></td>
        <td><%= unm_un.uni_private_den_ava_fees %></td>
        <td><%= unm_un.uni_private_eng_ava_fees %></td>
        <td><%= unm_un.uni_private_lit_ava_fees %></td>
        <td><%= unm_un.uni_inst_private_fees %></td>
        <td><%= unm_un.uni_faculties_number %></td>
        <td><%= unm_un.uni_faculties_name %></td>
        <td><%= unm_un.uni_faculties_speciality %></td>
        <td><%= unm_un.uni_institution_number %></td>
        <td><%= unm_un.uni_institutions_name %></td>
        <td><%= unm_un.uni_institution_speciality %></td>
        <td><%= link_to 'Show', unm_un %></td>
        <td><%= link_to 'Edit', edit_unm_un_path(unm_un) %></td>
        <td><%= link_to 'Destroy', unm_un, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Unm Un', new_unm_un_path %>
