<p id="notice"><%= notice %></p>

<p>
  <strong>Uni country:</strong>
  <%= @unm_un.uni_country %>
</p>

<p>
  <strong>Uni city:</strong>
  <%= @unm_un.uni_city %>
</p>

<p>
  <strong>Uni name:</strong>
  <%= @unm_un.uni_name %>
</p>

<p>
  <strong>Uni sector:</strong>
  <%= @unm_un.uni_sector %>
</p>

<p>
  <strong>Uni state ava fees:</strong>
  <%= @unm_un.uni_state_ava_fees %>
</p>

<p>
  <strong>Uni inst state ava fees:</strong>
  <%= @unm_un.uni_inst_state_ava_fees %>
</p>

<p>
  <strong>Uni private med ava fees:</strong>
  <%= @unm_un.uni_private_med_ava_fees %>
</p>

<p>
  <strong>Uni private den ava fees:</strong>
  <%= @unm_un.uni_private_den_ava_fees %>
</p>

<p>
  <strong>Uni private eng ava fees:</strong>
  <%= @unm_un.uni_private_eng_ava_fees %>
</p>

<p>
  <strong>Uni private lit ava fees:</strong>
  <%= @unm_un.uni_private_lit_ava_fees %>
</p>

<p>
  <strong>Uni inst private fees:</strong>
  <%= @unm_un.uni_inst_private_fees %>
</p>

<p>
  <strong>Uni faculties number:</strong>
  <%= @unm_un.uni_faculties_number %>
</p>

<p>
  <strong>Uni faculties name:</strong>
  <%= @unm_un.uni_faculties_name %>
</p>

<p>
  <strong>Uni faculties speciality:</strong>
  <%= @unm_un.uni_faculties_speciality %>
</p>

<p>
  <strong>Uni institution number:</strong>
  <%= @unm_un.uni_institution_number %>
</p>

<p>
  <strong>Uni institutions name:</strong>
  <%= @unm_un.uni_institutions_name %>
</p>

<p>
  <strong>Uni institution speciality:</strong>
  <%= @unm_un.uni_institution_speciality %>
</p>

<%= link_to 'Edit', edit_unm_un_path(@unm_un) %> |
<%= link_to 'Back', unm_uns_path %>
