<!-- <p id="notice"><%#= notice %></p> -->
<div class="row">
  <div class="col-lg-6">
    <div class="well bs-component">
      <p>
        <p>First name:</p>
        <%= @st_profile.try(:st_ba_name) %>
      </p>

      <p>
        <p>Surname:</p>
        <%= @st_profile.try(:st_ba_surname) %>
      </p>

      <p>
        <p>Father name:</p>
        <%= @st_profile.try(:st_ba_father) %>
      </p>

      <p>
        <p>Mother name:</p>
        <%= @st_profile.try(:st_ba_mother) %>
      </p>

      <p>
        <p>Cellphone:</p>
        <%= @st_profile.try(:st_ba_cellphone) %>
      </p>

      <p>
        <p>Passport number:</p>
        <%= @st_profile.try(:st_ba_passport) %>
      </p>

      <p>
        <p>Nationality:</p>
        <%= @st_profile.try(:st_ba_nationality) %>
      </p>

      <p>
        <p>Current country:</p>
        <%= @st_profile.try(:st_ba_country) %>
      </p>

      <%= link_to 'Update profile', edit_st_profile_path(@st_profile), remote: true %>
    </div>
  </div>
</div>