<p id="notice"><%= notice %></p>

<p>
  <strong>St ma cer source:</strong>
  <%= @st_ma_file.st_ma_cer_source %>
</p>

<p>
  <strong>St ma cer field:</strong>
  <%= @st_ma_file.st_ma_cer_field %>
</p>

<p>
  <strong>St ma cer marks:</strong>
  <%= @st_ma_file.st_ma_cer_marks %>
</p>

<p>
  <strong>St ma cer year:</strong>
  <%= @st_ma_file.st_ma_cer_year %>
</p>

<p>
  <strong>St ma passport photo:</strong>
  <%= @st_ma_file.st_ma_passport_photo %>
</p>

<p>
  <strong>St ma offical photo:</strong>
  <%= @st_ma_file.st_ma_offical_photo %>
</p>

<p>
  <strong>St ma extra photo1:</strong>
  <%= @st_ma_file.st_ma_extra_photo1 %>
</p>

<p>
  <strong>St ma extra photo2:</strong>
  <%= @st_ma_file.st_ma_extra_photo2 %>
</p>

<p>
  <strong>User:</strong>
  <%= @st_ma_file.user_id %>
</p>

<%= link_to 'Edit', edit_st_ma_file_path(@st_ma_file) %> |
<%= link_to 'Back', st_ma_files_path %>
