<!-- <p id="notice"><#%= notice %></p> -->
<% @st_tr_file = StTrFile.find_by_user_id(current_user.id)%>
<% if @st_tr_file.present?%>
<p>
  <strong>St ma un field:</strong>
  <%= @st_tr_file.st_ma_un_field %>
</p>

<p>
  <strong>St tr un source:</strong>
  <%= @st_tr_file.st_tr_un_source %>
</p>

<p>
  <strong>St tr un name:</strong>
  <%= @st_tr_file.st_tr_un_name %>
</p>

<p>
  <strong>St tr un sem:</strong>
  <%= @st_tr_file.st_tr_un_sem %>
</p>

<p>
  <strong>St tr photo1:</strong>
  <%= @st_tr_file.st_tr_photo1 %>
</p>

<p>
  <strong>St tr photo2:</strong>
  <%= @st_tr_file.st_tr_photo2 %>
</p>

<p>
  <strong>St tr extra photo1:</strong>
  <%= @st_tr_file.st_tr_extra_photo1 %>
</p>

<p>
  <strong>St tr extra photo2:</strong>
  <%= @st_tr_file.st_tr_extra_photo2 %>
</p>

<p>
  <strong>St tr un target:</strong>
  <%= @st_tr_file.st_tr_un_target %>
</p>

<p>
  <strong>St tr un name:</strong>
  <%= @st_tr_file.st_tr_un_name %>
</p>

<%= link_to 'Edit', edit_st_tr_file_path(@st_tr_file), remote:true %>
<%end%>