<div class="jumbotron">
  <div class="row">
    <div class="col-lg-12">
      <div class="well bs-component">
        <%= nested_form_for (@st_ba_file), :html => { novalidate: true }  do |form| %>
        <%= render 'errors', object: @st_ba_file %>
        <fieldset>
        <legend>ST-FILE-BA</legend>
          <div class="col-lg-6">
            <%= form.hidden_field :user_id, value: current_user.id%>
            <div class="form-group">
              <label for="st_file_ba_st_ba_cer_source" class="control-label">Certificate Source</label>
                <%= form.text_field :st_ba_cer_source, class: 'form-control', id: 'st_file_ba_st_ba_cer_source', placeholder: 'Certificate Source', autofocus: true %>
            </div>

            <div class="form-group">
              <label for="st_file_ba_st_ba_cer_marks" class="control-label">Certificate Marks</label>
                <%= form.text_field :st_ba_cer_marks, class: 'form-control', id: 'st_file_ba_st_ba_cer_marks', placeholder: 'Certificate Marks', autofocus: true %>
            </div>

            <div class="form-group">
              <label for="st_file_ba_st_ba_cer_year" class="control-label">Certificate Year</label>
                <%= form.text_field :st_ba_cer_year, class: 'form-control', id: 'st_file_ba_st_ba_cer_year', placeholder: 'Certificate Year', autofocus: true %>
            </div>

            <div class="form-group">
              <label for="st_file_ba_st_ba_cer_extra" class="control-label">Extra Certificates</label>
                <div class="radio">
                  <label>
                    <%= form.radio_button :st_ba_cer_extra, 'yes' %>Yes
                  </label>
                </div>
                <div class="radio">
                  <label>
                    <%= form.radio_button :st_ba_cer_extra, 'no' %>No
                  </label>
                </div>
            </div>

            <div id="extraCert">
              <div class="form-group">
                  <label for="st_file_ba_st_ba_cer_extra_cert" class="control-label">Certificates</label>
                    <%= form.select :st_ba_cer_extra_cert, StBaFile::CERTIFICATES, { prompt: "Select Certificate" }, { class: "select2", id: "select", :required => true, style: 'width:100%;'} %>
              </div>
            </div>

            <div class="form-group">
              <label for="st_file_ba_st_ba_cer_lang" class="control-label">Language Certificate</label>
                <div class="radio">
                  <label>
                    <%= form.radio_button :st_ba_cer_lang, 'yes' %>Yes
                  </label>
                </div>
                <div class="radio">
                  <label>
                    <%= form.radio_button :st_ba_cer_lang, 'no' %>No
                  </label>
                </div>
            </div>

            <div id="certLang">
              <div class="form-group">
                <label for="st_file_ba_st_ba_cer_lang" class="control-label">Select certificate</label>
                  <%= form.select :st_ba_cer_lang, StBaFile::LANGUAGECERTIFICATES, { prompt: "Select Certificate" }, { class: "select2", id: "select", :required => true, style: 'width:100%;'} %>
              </div>
            </div>

          </div>


          <div class="col-lg-6">

            <div class="form-group">
              <a class="btn btn-warning" id="addStCertificates">Upload Certificates</a>
            </div>

              <div id="st_certificates" class="upload_div">
                <!-- Attachments -->
                <div class="form-group upload_area">
                  <label for="st_file_ba_st_ba_cer_photo" class="control-label">Certificate photo</label>&nbsp;&nbsp;
                  <%= form.file_field :st_ba_cer_photo, id: :st_file_ba_st_ba_cer_photo, class: 'btn btn-default btn-xs' %>
                </div>

                <div class="form-group upload_area">
                  <label for="st_file_ba_st_ba_cer_photo_transcript" class="control-label">Certificate photo transcript</label>&nbsp;&nbsp;
                  <%= form.file_field :st_ba_cer_photo_transcript, id: :st_file_ba_st_ba_cer_photo_transcript, class: 'btn btn-default btn-xs' %>
                </div>

                <div class="form-group upload_area">
                  <label for="st_file_ba_st_ba_cer_extra_photo1" class="control-label">Certificate extra photo1</label>&nbsp;&nbsp;
                  <%= form.file_field :st_ba_cer_extra_photo1, id: :st_file_ba_st_ba_cer_extra_photo1, class: 'btn btn-default btn-xs' %>
                </div>

                <div class="form-group upload_area">
                  <label for="st_file_ba_st_ba_cer_extra_photo2" class="control-label">Certificate extra photo2</label>&nbsp;&nbsp;
                  <%= form.file_field :st_ba_cer_extra_photo2, id: :st_file_ba_st_ba_cer_extra_photo2, class: 'btn btn-default btn-xs' %>
                </div>

                <div class="form-group upload_area">
                  <label for="st_file_ba_st_ba_cer_extra_photo3" class="control-label">Certificate extra photo3</label>&nbsp;&nbsp;
                  <%= form.file_field :st_ba_cer_extra_photo3, id: :st_file_ba_st_ba_cer_extra_photo3, class: 'btn btn-default btn-xs' %>
                </div>

                <div class="form-group upload_area">
                  <label for="st_file_ba_st_ba_cer_extra_photo4" class="control-label">Certificate extra photo4</label>&nbsp;&nbsp;
                  <%= form.file_field :st_ba_cer_extra_photo4, id: :st_file_ba_st_ba_cer_extra_photo4, class: 'btn btn-default btn-xs' %>
                </div>
                <!-- Attachments -->
              </div>

              <!-- ST-WISH-MODAL -->
              <div class="modal" id="stWishModal">
                <div class="modal-dialog">
                  <div class="modal-content">

                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                      <h4 class="modal-title">New Wish</h4>
                    </div>

                    <div class="modal-body">
                      <%= form.fields_for :st_wishes, StWish.new do |st_wish| %>
                        <script>
                          $(document).ready(function(){
                            $('.select2').select2();
                          });
                        </script>

                        <div class="form-group">
                          <label for="university_uni_institutions_name" class="control-label">​Country</label>
                            <%= st_wish.select :st_country_wish, options_for_select(@countries.collect { |country|[country.name.titleize, country.id] }, 1), {:include_blank => "Select country"}, { id: 'country_name_select', class: "select2", :required => true, style: 'width:100%;' } %>
                        </div>

                        <div class="form-group">
                          <label for="university_uni_institution_speciality" class="control-label">​City</label>
                            <%= st_wish.select :st_city_wish, options_for_select(@cities.collect { |city|[city.name.titleize, city.id] }, 0), {:include_blank => "Select city"}, { id: 'city_name_select', class: "select2", :required => true, style: 'width:100%;' }  %>
                        </div>

                        <div class="form-group">
                          <label for="university_uni_institutions_name" class="control-label">​Institution name</label>
                            <%= st_wish.select :st_univ_wish, options_for_select(University.all.collect { |university|[university.uni_name.titleize, university.id] }), {:include_blank => "Select Institution"}, { id: 'university_uni_institutions_name', class: "select2", :required => true, style: 'width:100%;' } %>
                        </div>

                        <div class="form-group">
                          <label for="university_uni_institutions_name" class="control-label">​Specialty</label>
                            <%= st_wish.select :st_specialty_wish, options_for_select(University.all.collect { |university|[university.uni_name.titleize, university.id] }), {:include_blank => "Select Institution"}, { id: 'university_uni_institutions_name', class: "select2", :required => true, style: 'width:100%;' } %>
                        </div>

                        <div class="form-group">
                          <label for="university_uni_institutions_name" class="control-label">Set wish priority</label>
                            <%= st_wish.select :st_wish_priority, StBaFile::PRIORITY, { prompt: "Select specialty" }, { class: "select2", id: "select", :required => true, style: 'width:100%;'} %>
                        </div>
                      <%end%>

                      <%= form.link_to_add "Add more wishes", :st_wishes %>
                    </div>
                  

                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" onclick="showInstInput();" data-dismiss="modal">Done</button>
                    </div>
                  </div>
                </div>
              </div>
              <!-- ST-WISH-MODAL-ENDS -->

              <div class="addInst">
                <a href="#"><span class="glyphicon glyphicon-plus-sign"></span></a>&nbsp;
                <a data-toggle="modal" href="#" data-target="#stWishModal">Add Wishes</a>
              </div><br>

              <div class="form-group">
                <%= form.button 'Save file', class: "btn btn-primary", style: 'width:65%;', data: {disable_with: "<i class='fa fa-spinner fa-spin'></i>Creating file...."}%>
              </div>
            </fieldset>
          </div>
        <% end %>
    </div>
  </div>
</div>
