<p id="notice"><%= notice %></p>

<h1>St File Bas</h1>

<table>
  <thead>
    <tr>
      <th>St ba cer source</th>
      <th>St ba cer marks</th>
      <th>St ba cer year</th>
      <th>St ba cer extra</th>
      <th>St ba cer extra cert</th>
      <th>St ba cer extra sat</th>
      <th>St ba cer extra gcse</th>
      <th>St ba cer extra tahseli</th>
      <th>St ba cer extra qudorat</th>
      <th>St ba cer extra yos</th>
      <th>St ba cer extra mearyi</th>
      <th>St ba cer lang</th>
      <th>St ba cer lang toefl</th>
      <th>St ba cer lang ielts</th>
      <th>St ba cer lang other</th>
      <th>St ba cer photo</th>
      <th>St ba cer photo transcript</th>
      <th>St ba cer extra photo1</th>
      <th>St ba cer extra photo2</th>
      <th>St ba cer extra photo3</th>
      <th>St ba cer extra photo4</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @st_file_bas.each do |st_file_ba| %>
      <tr>
        <td><%= st_file_ba.st_ba_cer_source %></td>
        <td><%= st_file_ba.st_ba_cer_marks %></td>
        <td><%= st_file_ba.st_ba_cer_year %></td>
        <td><%= st_file_ba.st_ba_cer_extra %></td>
        <td><%= st_file_ba.st_ba_cer_extra_cert %></td>
        <td><%= st_file_ba.st_ba_cer_extra_sat %></td>
        <td><%= st_file_ba.st_ba_cer_extra_gcse %></td>
        <td><%= st_file_ba.st_ba_cer_extra_tahseli %></td>
        <td><%= st_file_ba.st_ba_cer_extra_qudorat %></td>
        <td><%= st_file_ba.st_ba_cer_extra_yos %></td>
        <td><%= st_file_ba.st_ba_cer_extra_mearyi %></td>
        <td><%= st_file_ba.st_ba_cer_lang %></td>
        <td><%= st_file_ba.st_ba_cer_lang_toefl %></td>
        <td><%= st_file_ba.st_ba_cer_lang_ielts %></td>
        <td><%= st_file_ba.st_ba_cer_lang_other %></td>
        <td><%= st_file_ba.st_ba_cer_photo %></td>
        <td><%= st_file_ba.st_ba_cer_photo_transcript %></td>
        <td><%= st_file_ba.st_ba_cer_extra_photo1 %></td>
        <td><%= st_file_ba.st_ba_cer_extra_photo2 %></td>
        <td><%= st_file_ba.st_ba_cer_extra_photo3 %></td>
        <td><%= st_file_ba.st_ba_cer_extra_photo4 %></td>
        <td><%= link_to 'Show', st_file_ba %></td>
        <td><%= link_to 'Edit', edit_st_file_ba_path(st_file_ba) %></td>
        <td><%= link_to 'Destroy', st_file_ba, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New St File Ba', new_st_file_ba_path %>
