<p id="notice"><%= notice %></p>

<p>
  <strong>St ba cer source:</strong>
  <%= @st_ba_file.st_ba_cer_source %>
</p>

<p>
  <strong>St ba cer marks:</strong>
  <%= @st_ba_file.st_ba_cer_marks %>
</p>

<p>
  <strong>St ba cer year:</strong>
  <%= @st_ba_file.st_ba_cer_year %>
</p>

<p>
  <strong>St ba cer extra:</strong>
  <%= @st_ba_file.st_ba_cer_extra %>
</p>

<p>
  <strong>St ba cer extra cert:</strong>
  <%= @st_ba_file.st_ba_cer_extra_cert %>
</p>

<p>
  <strong>St ba cer extra sat:</strong>
  <%= @st_ba_file.st_ba_cer_extra_sat %>
</p>

<p>
  <strong>St ba cer extra gcse:</strong>
  <%= @st_ba_file.st_ba_cer_extra_gcse %>
</p>

<p>
  <strong>St ba cer extra tahseli:</strong>
  <%= @st_ba_file.st_ba_cer_extra_tahseli %>
</p>

<p>
  <strong>St ba cer extra qudorat:</strong>
  <%= @st_ba_file.st_ba_cer_extra_qudorat %>
</p>

<p>
  <strong>St ba cer extra yos:</strong>
  <%= @st_ba_file.st_ba_cer_extra_yos %>
</p>

<p>
  <strong>St ba cer extra mearyi:</strong>
  <%= @st_ba_file.st_ba_cer_extra_mearyi %>
</p>

<p>
  <strong>St ba cer lang:</strong>
  <%= @st_ba_file.st_ba_cer_lang %>
</p>

<p>
  <strong>St ba cer lang toefl:</strong>
  <%= @st_ba_file.st_ba_cer_lang_toefl %>
</p>

<p>
  <strong>St ba cer lang ielts:</strong>
  <%= @st_ba_file.st_ba_cer_lang_ielts %>
</p>

<p>
  <strong>St ba cer lang other:</strong>
  <%= @st_ba_file.st_ba_cer_lang_other %>
</p>

<p>
  <strong>St ba cer photo:</strong>
  <%= @st_ba_file.st_ba_cer_photo %>
</p>

<p>
  <strong>St ba cer photo transcript:</strong>
  <%= @st_ba_file.st_ba_cer_photo_transcript %>
</p>

<p>
  <strong>St ba cer extra photo1:</strong>
  <%= @st_ba_file.st_ba_cer_extra_photo1 %>
</p>

<p>
  <strong>St ba cer extra photo2:</strong>
  <%= @st_ba_file.st_ba_cer_extra_photo2 %>
</p>

<p>
  <strong>St ba cer extra photo3:</strong>
  <%= @st_ba_file.st_ba_cer_extra_photo3 %>
</p>

<p>
  <strong>St ba cer extra photo4:</strong>
  <%= @st_ba_file.st_ba_cer_extra_photo4 %>
</p>

<%= link_to 'Edit', edit_st_ba_file_path(@st_ba_file) %> |
<%= link_to 'Back', st_ba_files_path %>
