<p id="notice"><%= notice %></p>

<p>
  <strong>St maba cer source:</strong>
  <%= @st_phd_file.st_maba_cer_source %>
</p>

<p>
  <strong>St maba cer field:</strong>
  <%= @st_phd_file.st_maba_cer_field %>
</p>

<p>
  <strong>St maba cer marks:</strong>
  <%= @st_phd_file.st_maba_cer_marks %>
</p>

<p>
  <strong>St maba cer year:</strong>
  <%= @st_phd_file.st_maba_cer_year %>
</p>

<p>
  <strong>St maphd cer source:</strong>
  <%= @st_phd_file.st_maphd_cer_source %>
</p>

<p>
  <strong>St maphd cer field:</strong>
  <%= @st_phd_file.st_maphd_cer_field %>
</p>

<p>
  <strong>St maphd cer marks:</strong>
  <%= @st_phd_file.st_maphd_cer_marks %>
</p>

<%= link_to 'Edit', edit_st_phd_file_path(@st_phd_file) %> |
<%= link_to 'Back', st_phd_files_path %>
