<!-- delete('["''"],') -->
<style>
  .form-horizontal .form-group{
    margin-left: 0px; 
    margin-right: 0px; 
  }
</style>
<script>
  $(document).ready(function(){
    $('.select2').select2();
    $('.addMore').hide();
    $('#private').hide();
    $(".editInst").hide()
    $(".institutionsAdded").hide()
    $('#unm_dashboard').click(function(){
      window.location.replace("<%=unm_dashboard_url%>");
    });
    $('#clos').click(function(){
      $('.test').hide();
      $('.fac').show();
      $('.addMore').show();
    });
    // $("#doneWith").click(function(){
    //   $(".institutionsAdded").show()
    // })
  });
  
  function showInput() {
    document.getElementById('display').innerHTML = 
      document.getElementsByClassName("fields").length - 1 ;
      var faculties_number = document.getElementsByClassName("fields").length - 1;
      $("#faculties_number_field").val(faculties_number);
  }
  function showInstInput() {
    $(".addInst").hide()
    $(".editInst").show()
    $(".institutionsAdded").show()
    document.getElementById('displayInstName').innerHTML = 
      $("#university_uni_institutions_name").val();
    document.getElementById('displayInstSpecs').innerHTML = 
      $(".select2-selection__rendered").text();
  }
</script>
<div class="row">
  <div class="col-lg-12">
    <div class="well bs-component">
      <%= nested_form_for (@university), remote: true, :html => { :class => "form-horizontal" } do |form| %>
        <fieldset>
        <%if @university.id.present?%>
          <legend>Update University</legend>
        <%else%>
          <legend>Create University</legend>
        <%end%>
            <div class="col-lg-6">

              <div class="form-group">
                <label for="university_uni_name" class="control-label">Name</label>
                  <%= form.text_field :uni_name, class: 'form-control', id: 'university_uni_name', placeholder: 'University Name', autofocus: true %>
              </div>

              <div class="form-group">
                <label for="university_uni_country" class="control-label">Country</label>
                  <%= form.select :uni_country, options_for_select(@countries.collect { |country|[country.name.titleize, country.id] }, 1), {:include_blank => "Select country"}, { id: 'country_name_select', class: "select2", :required => true, style: 'width:100%;' } %>
              </div>

              <div class="form-group">
                <label for="university_uni_city" class="control-label">City</label>
                  <%= form.select :uni_city, options_for_select(@cities.collect { |city|[city.name.titleize, city.id] }, 0), {:include_blank => "Select city"}, { id: 'city_name_select', class: "select2", :required => true, style: 'width:100%;' } %>
              </div>

              <div class="form-group">
                <label for="university_uni_sector" class="control-label">Select Sector</label>
                  <div class="radio">
                    <label>
                      <%= form.radio_button :uni_sector, 'state' %>State
                    </label>
                  </div>
                  <div class="radio">
                    <label>
                      <%= form.radio_button :uni_sector, 'private' %>Private
                    </label>
                  </div>
              </div>

            </div>

            <div class="col-lg-6">

            <!-- Add Institution modal -->
            <div class="modal" id="instModal">
              <div class="modal-dialog">
                <div class="modal-content">

                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">New Institution</h4>
                  </div>

                  <div class="modal-body">
                    <%= form.fields_for :institutions, Institution.new do |inst_form| %>
                      <script>
                        $(document).ready(function(){
                          $('.select2').select2();
                        });
                      </script>

                    <div class="form-group">
                      <label for="university_uni_institutions_name" class="control-label">​Institutions name</label>
                        <%= inst_form.text_field :uni_institution_name, class: 'form-control', id: 'university_uni_institutions_name', placeholder: '​Institutions name', autofocus: true %>
                    </div>

                    <div class="form-group">
                      <label for="university_uni_institution_speciality" class="control-label">​Institutions specialty</label>
                        <%= inst_form.select :uni_institution_speciality, University::FACULTYSPECIALITY, { prompt: "Select specialty" }, { class: "select2", id: "select", multiple:true, :required => true, style: 'width:100%;'}  %>
                    </div>
                    <%= inst_form.hidden_field :uni_institution_number, :id => "university_uni_institutions_number_field"%>
                    <%end%>

                    <%#= form.link_to_add "Add more Institutions", :institutions %>
                  </div>
                

                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" onclick="showInstInput();" data-dismiss="modal">Done</button>
                  </div>
                </div>
              </div>
            </div>

              <!--Institution modal ends here -->

              <div class="addInst">
                <a href="#"><span class="glyphicon glyphicon-plus-sign"></span></a>&nbsp;
                <a data-toggle="modal" href="#" data-target="#instModal">Add Institution</a>
              </div><br>

              <div class="editInst">
                <a href="#"><span class="glyphicon glyphicon-plus-sign"></span></a>&nbsp;
                <a data-toggle="modal" href="#" data-target="#instModal">Edit Institution</a>
              </div><br>

              <div class="institutionsAdded" style="padding: 20px;background:#4d96d0;">
                <h6 style="font-weight: bold;">Institution name: <span id="displayInstName"></span></h6>
                <h6 style="font-weight: bold;">Instutution speciality: <span id="displayInstSpecs"></span></h6>
              </div>


            <!-- Add faculties modal -->
            <div class="modal" id="myModal">
              <div class="modal-dialog">
                <div class="modal-content">

                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">New Faculties</h4>
                  </div>

                  <div class="modal-body">
                    <%= form.fields_for :faculties, Faculty.new do |fac_form| %>
                      <script>
                        $(document).ready(function(){
                          $('.select2').select2();
                        });
                      </script>
                      <div class="form-group">
                        <label>​Faculty Speciality</label>
                          <%= fac_form.select :uni_faculties_speciality, University::FACULTYSPECIALITY, { prompt: "Select specialty" }, { class: "select2", id: "select", multiple:true, :required => true, style: 'width:100%;' } %>
                      </div>

                      <div class="form-group">
                        <label>​Faculty fees</label>
                          <%= fac_form.text_field :uni_faculties_name, class: 'form-control', placeholder: '​Faculties fees', autofocus: true %>
                      </div>

                      <%= fac_form.hidden_field :uni_faculties_number, :id => "faculties_number_field"%>
                    <% end %>

                    <%= form.link_to_add "Add more Faculty", :faculties %>
                  
                  </div>
                  <div class="modal-footer">
                    <button type="button" id ="clos" class="btn btn-default" onclick="showInput();" data-dismiss="modal">Done</button>
                  </div>
                </div>
              </div>
            </div>
            <!-- ends here -->

              <label class="fac"> Added faculties number: <span id="display"></span></label>

              <div class="test">
                <a href="#"><span class="glyphicon glyphicon-plus-sign"></span></a>&nbsp;
                <a data-toggle="modal" href="#" data-target="#myModal">Add Faculties</a>
              </div><br>

              <div class="addMore">
                <a href="#"><span class="glyphicon glyphicon-plus-sign"></span></a>&nbsp;
                <a data-toggle="modal" href="#" data-target="#myModal">Add More Faculties</a>
              </div>

                <div class="form-group">
                <%if @university.id.present?%>
                    <%= form.button "Update University", class: "btn btn-primary", style: 'width:65%;', data: {disable_with: "<i class='fa fa-spinner fa-spin'></i>In progress...."} %>&nbsp;&nbsp;
                <%else%>
                <%= form.button "Create University", class: "btn btn-primary", style: 'width:65%;', data: {disable_with: "<i class='fa fa-spinner fa-spin'></i>In progress...."} %>
                <%end%>&nbsp;&nbsp;
                <li class="btn btn-primary" style='width:30%;' id="unm_dashboard"> Cancel</li>
              </div>
            </div>
          </div>
        <fieldset>

      <% end %>
    </div>
  </div>
</div>
