<style>
  .form-horizontal .form-group{
    margin-left: 0px; 
    margin-right: 0px; 
  }
</style>
<script>
  $(document).ready(function(){
    $('.fac').hide();
    $('.addMore').hide();
    $("#webber").hide()
    $('#unm_dashboard').click(function(){
      window.location.replace("<%=unm_dashboard_url%>");
    });
    $('#clos').click(function(){
      $('.test').hide();
      $('.fac').show();
      $('.addMore').show();
    });
    $('.hih').change(function(){
      $("#webber").show()
    });
  });
  function showInput() {
      document.getElementById('display').innerHTML = 
        document.getElementsByClassName("fields").length - 1 ;
        var faculties_number = document.getElementsByClassName("fields").length - 1;
        $("#faculties_number_field").val(faculties_number);
    }
</script>
<div class="row">
  <div class="col-lg-12">
    <div class="well bs-component">
      <%= nested_form_for (@university), remote: true, :html => { :class => "form-horizontal" } do |form| %>
        <fieldset>
        <%if @university.id.present?%>
          <legend>Update University</legend>
        <%else%>
          <legend>Create University</legend>
        <%end%>
            <div class="col-lg-6">

              <div class="form-group">
                <label for="university_uni_name" class="control-label">Name</label>
                  <%= form.text_field :uni_name, class: 'form-control', id: 'university_uni_name', placeholder: 'University Name', autofocus: true %>
              </div>

              <div class="form-group">
                <label for="university_uni_country" class="control-label">Country</label>
                  <%= form.select :uni_country, University::COUNTRY, { prompt: "Select Country" }, { class: "form-control", id: "select", :required => true, style: 'width:100%;' }%>
              </div>

              <div class="form-group">
                <label for="university_uni_city" class="control-label">City</label>
                  <%= form.text_field :uni_city, class: 'form-control', id: 'university_uni_city', placeholder: 'City', autofocus: true %>
              </div>

              <div class="form-group">
                <label for="university_uni_sector" class="control-label">Select Sector</label>
                  <div class="radio">
                    <label>
                      <%= form.radio_button :uni_sector, 'state' %>State
                    </label>
                  </div>
                  <div class="radio">
                    <label>
                      <%= form.radio_button :uni_sector, 'private' %>Private
                    </label>
                  </div>
              </div>

            </div>

            <div class="col-lg-6">

            <!-- Add faculties modal -->
            <div class="modal" id="myModal">
              <div class="modal-dialog">
                <div class="modal-content">

                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">New Faculties</h4>
                  </div>

                  <div class="modal-body">
                    <%= form.fields_for :faculties, Faculty.new do |fac_form| %>
                    <script type="text/javascript">
                      $(document).ready(function(){
                        $('.select2').select2();
                      });
                    </script>

                     <div class="form-group">
                        <label>​Faculty name</label>
                          <%= fac_form.select :uni_faculties_name, options_for_select(@faculty_names.collect { |faculty|[faculty.name.titleize, faculty.id] }, 1), {:include_blank => "Select faculty name"}, { id: 'facultiy_names_select', class: "select2 hih", :required => true, style: 'width:100%;' } %>
                      </div>


                     <div class="form-group" id="webber">
                        <label>​Faculty Speciality</label>
                          <%= fac_form.select :uni_faculties_speciality, options_for_select(@faculty_specialities.collect { |faculty_speciality|  [faculty_speciality.speciality, faculty_speciality.id] }, 0), {:include_blank => "Select faculty specialities"}, { id: 'faculty_specialties_select', class: "select2", multiple:true, :required => true, style: 'width:100%;' } %>
                      </div>

                      <%= fac_form.hidden_field :uni_faculties_number, :id => "faculties_number_field"%>
                    <% end %>

                    <%= form.link_to_add "Add more Faculty", :faculties %>
                  
                  </div>
                  <div class="modal-footer">
                    <button type="button" id ="clos" class="btn btn-default" onclick="showInput();" data-dismiss="modal">Done</button>
                  </div>
                </div>
              </div>
            </div>
            <!-- faculties modal ends here -->

            <!-- Add Institution modal -->
            <div class="modal" id="instModal">
              <div class="modal-dialog">
                <div class="modal-content">

                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">New Institution</h4>
                  </div>

                  <div class="modal-body">
                    <div class="form-group">
                      <label for="university_uni_institution_number" class="control-label">​Institution number</label>
                        <%= form.text_field :uni_institution_number, class: 'form-control', id: 'university_uni_institution_number', placeholder: '​Institution number', autofocus: true %>
                    </div>

                    <div class="form-group">
                      <label for="university_uni_institutions_name" class="control-label">​Institutions name</label>
                        <%= form.text_field :uni_institutions_name, class: 'form-control', id: 'university_uni_institutions_name', placeholder: '​Institutions name', autofocus: true %>
                    </div>

                    <div class="form-group">
                      <label for="university_uni_institution_speciality" class="control-label">​Institutions specialty</label>
                        <%= form.text_field :uni_institution_speciality, class: 'form-control', id: 'university_uni_institution_speciality', placeholder: '​Institutions specialty', autofocus: true %>
                    </div>
                  </div>
                  
                  </div>
                  <div class="modal-footer">
                    <button type="button" id ="clos" class="btn btn-default" onclick="showInput();" data-dismiss="modal">Done</button>
                  </div>
                </div>
              </div>

              <label class="fac"> Added faculties number: <span id="display"></span></label>

              <div class="test">
                <a href="#"><span class="glyphicon glyphicon-plus-sign"></span></a>&nbsp;
                <a data-toggle="modal" href="#" data-target="#instModal">Add Institution</a>
              </div><br>

              <div class="test">
                <a href="#"><span class="glyphicon glyphicon-plus-sign"></span></a>&nbsp;
                <a data-toggle="modal" href="#" data-target="#myModal">Add Faculties</a>
              </div><br>

              <div class="addMore">
                <a href="#"><span class="glyphicon glyphicon-plus-sign"></span></a>&nbsp;
                <a data-toggle="modal" href="#" data-target="#myModal">Add More Faculties</a>
              </div>

              <div class="form-group">
              <%if @university.id.present?%>
                  <%= form.button "Update University", class: "btn btn-primary", style: 'width:65%;', data: {disable_with: "<i class='fa fa-spinner fa-spin'></i>In progress...."} %>&nbsp;&nbsp;
              <%else%>
              <%= form.button "Create University", class: "btn btn-primary", style: 'width:65%;', data: {disable_with: "<i class='fa fa-spinner fa-spin'></i>In progress...."} %>
              <%end%>&nbsp;&nbsp;
                  <li class="btn btn-primary" style='width:30%;' id="unm_dashboard"> Cancel</li>
            </div>

            </div>
            <!--Institution modal ends here -->
          </div>
        <fieldset>


      <% end %>
    </div>
  </div>
</div>
