
<style type="text/css">
  .col-sm-3{
    background: #f5f5f5!important;
    padding: 15px!important;
    margin: 10px!important;
  }  
</style>
<script>
  $(document).ready(function(){
    $('#unm_dashboard').click(function(){
      window.location.replace('<%= unm_dashboard_url%>');
    });
      $(".viewProfile").click(function(){
      var url = '/university_profiles/<%= @university.university_profile_id%>';
      $.get(url);
    });
  });
</script>
<div class="row">
  <div class="col-lg-12">
    <div class="well bs-component">
      <fieldset>
        <a href="/unm_dashboard"><button class="btn btn-primary back">Back</button></a>
      <!-- &nbsp; &nbsp;<button class="btn btn-primary view viewProfile">View profile</button> -->
          <div class="col-lg-6">
            <p>Country:
              <%= @university.uni_country %>
            </p>

            <p>City:
              <%= @university.uni_city %>
            </p>

            <p>Name:
              <%= @university.uni_name %>
            </p>

            <p>Sector:
              <%= @university.uni_sector %>
            </p>

            <p>State ava fees:
              <%= @university.uni_state_ava_fees %>
            </p>

            <p>Inst state ava fees:
              <%= @university.uni_inst_state_ava_fees %>
            </p>

            <p>Private med ava fees:
              <%= @university.uni_private_med_ava_fees %>
            </p>

            <p>Private den ava fees:
              <%= @university.uni_private_den_ava_fees %>
            </p>

            <p>Private eng ava fees:
              <%= @university.uni_private_eng_ava_fees %>
            </p>
          </div>

          <div class="col-lg-6">

            <p>Private lit ava fees:
              <%= @university.uni_private_lit_ava_fees %>
            </p>

            <p>Inst private fees:
              <%= @university.uni_inst_private_fees %>
            </p>

            <p>Institution number:
              <%= @university.uni_institution_number %>
            </p>

            <p>Institutions name:
              <%= @university.uni_institutions_name %>
            </p>

            <p>Institution speciality:
              <%= @university.uni_institution_speciality %>
            </p>
          </div>
        </fieldset>
      </div>

      <!-- University profile -->
      <div class="panel-group">
          <div class="panel panel-default">
            <div class="panel-heading" data-toggle="collapse" href="#collapse1" style="background-color: #2196f3;">
              <h4 class="panel-title">
                <a data-toggle="collapse" style="color: #fff;" href="#collapse1">View profile</a>
              </h4>
            </div>
            <%if @university.university_profile.present?%>
            <div id="collapse1" class="panel-collapse collapse">
              <div class="row">
  
                <div class="col-lg-12">
                  <div class="well bs-component">
                    <p>
                      <strong>Uni logo:</strong>
                      <%= @university.university_profile.uni_logo %>
                    </p>

                    <p>
                      <strong>Uni description:</strong>
                      <%= @university.university_profile.uni_description %>
                    </p>

                    <p>
                      <strong>Uni galaries:</strong>
                      <%= @university.university_profile.uni_galaries %>
                    </p>

                    <p>
                      <strong>Uni log rank:</strong>
                      <%= @university.university_profile.uni_log_rank %>
                    </p>

                    <p>
                      <strong>Uni founded date:</strong>
                      <%= @university.university_profile.uni_founded_date %>
                    </p>

                    <p>
                      <strong>Uni url:</strong>
                      <%= @university.university_profile.uni_url %>
                    </p>

                    <p>
                      <strong>Uni email:</strong>
                      <%= @university.university_profile.uni_email %>
                    </p>

                    <p>
                      <strong>Uni phone1:</strong>
                      <%= @university.university_profile.uni_phone1 %>
                    </p>

                    <p>
                      <strong>Uni phone2:</strong>
                      <%= @university.university_profile.uni_phone2 %>
                    </p>

                    <p>
                      <strong>Uni fax:</strong>
                      <%= @university.university_profile.uni_fax %>
                    </p>

                    <p>
                      <strong>Uni address:</strong>
                      <%= @university.university_profile.uni_address %>
                    </p>
                  </div>
                </div>
              </div>
            <div class="panel-footer"></div>
            
          <%else%>
            <p>University profile is empty!</p>
          <%end%>
        </div>

      </div><br>

      <!-- University faculties -->
      <div class="panel-group">
          <div class="panel panel-default">
            <div class="panel-heading" data-toggle="collapse" href="#collapse2" style="background-color: #2196f3;">
              <h4 class="panel-title">
                <a data-toggle="collapse" style="color: #fff;" href="#collapse2">View Faculties</a>
              </h4>
            </div>
            <div id="collapse2" class="panel-collapse collapse">
              <div class="row">
                <div class="col-lg-12">

                  <%@university.faculties.each do |faculty|%>
                    <div class="col-sm-3">
                      <div class="card">
                        <div class="card-block">
                          <h5 class="card-title">Name:<span><%= faculty.uni_faculties_name%></span></h5>
                          <h6 class="card-text">Speciality: <span><%= faculty.uni_faculties_speciality.delete('["''"],')%></span><h6>
                        </div>
                      </div>
                    </div>
                  <%end%>

                </div>
              </div>
            <div class="panel-footer"></div>
          </div>
        </div>
      <!-- University faculties -->

    </div>
  </div>
</div>