<!DOCTYPE html>
<html>
<head>
  <meta name="google-site-verification" content="M3l2b0fV_roufkqKBerLibZo2xE7q1RPqUBb8dBFKlM" />
  <title><%= t('org-details') %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'shared/nav' %>
	  <p class="notice"><%= notice %></p>
	  <p class="alert"><%= alert %></p>
  <%= yield %>
</body>
</html>
